<link href="~/Content/Site.css" rel="stylesheet" />

<div class="jumbotron" id="CoinsTab">
    <div id="Coins"></div>
    <br/>
    <div>
        <table id="sum_table"><tr>
                <td>
                    <fieldset id="sum_fieldset">
                        <label id="sum_lable"></label>
                    </fieldset>
                </td>
                <td>
                    <input type="button" id="cancel_btn" value="Cancel"/>
                </td>
            </tr>
        </table>
    </div>
</div>



<div class="row" id="Drinks">

</div>

@* create modal view *@
<div id="modDialog_Change" class="modal fade">
    <div id="changeContentDialog" class="modal-dialog"></div>
</div>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/indexHome.js"></script>
<script>
    $(document).ready(function () {

        Update();
        
        makeSumCounter();
        makeCoinArray();
        btnEvents();
    });
</script>