<link href="~/Content/Site.css" rel="stylesheet" />

@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a>
    </p>
</div>*@

<div class="jumbotron" id="CoinsTab">
    <div id="Coins"></div>
    <br/>
    <div>
        <table id="sum_table"><tr>
                <td>
                    <fieldset id="sum_fieldset">
                        <label id="sum_lable"></label>
                    </fieldset>
                </td>
                <td>
                    <input type="button" id="cancel_btn" value="Cancel"/>
                </td>
            </tr>
        </table>
    </div>
</div>



<div class="row" id="Drinks">

</div>

@* create modal view *@
<div id="modDialog_Change" class="modal fade">
    <div id="changeContentDialog" class="modal-dialog"></div>
</div>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/Index.js"></script>
<script>
    $(document).ready(function () {

        Update();
        
        makeSumCounter();
        makeCoinArray();
        btnEvents();
    });
</script>